.about-section {
  background: $white;
  height: 80vh;
  
  .card-container {
    top: -65px;
  }

  .card {
    border: none;
    border-radius: 10px;
    box-shadow: -2px -2px 22px #00000029;
    padding: 30px 12px;
    height: 304px;

    img {
      margin-bottom: 22px;
    }

    h6 {
      font-weight: 600;
      color: $primary;
    }
  }

  .client-logo {
    height: 100%;
    padding-bottom: 80px;
  }
  .clients{
    display: flex;
   
  }
}
