.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      #{fade-out($primary, 0.5)} 0%,
      #{fade-out($primary, 0.1)} 75%,
      $primary 100%
    ),
    url('../img/Background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-family: $primary-font;
    font-size: 75px;
    line-height: 90px;
    letter-spacing: -3.08px;
    color: $white;
    font-weight: 600;
  }
  h2 {
    max-width: 20rem;
    font-size: 1rem;
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 60px;
      line-height: 90px;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    padding: 0;
    h1 {
      font-size: 75px;
      line-height: 90px;
      letter-spacing: -3.08px;
    }
    h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }
}
