.projects-section {
  background: linear-gradient(
      to bottom,
      #{fade-out($primary, 0.5)} 0%,
      #{fade-out($primary, 0.1)} 75%,
      $primary 100%
    ),
    url('../img/Background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 80vh;

  h3 {
    color: $white;
  }

  form {
    label {
      color: $white;
      font-size: 12px;
      margin-bottom: 0;
    }

    .form-group{

      color: $white;
      .form-control {
        background-color: transparent;
        border-bottom: 1px solid $white;
        border: none;
            border-bottom-color: currentcolor;
            border-bottom-style: none;
            border-bottom-width: medium;
        border-bottom: 2px solid $white;
        border-radius: 0;
        color: $white;
      }

      textarea{
        max-height: 60px;
      }
    }
    
    ::placeholder{
      color: $white;
      font-size: 14px;
      opacity: 0.5;
    }
  }
}
